@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h2>Bem-vindo ao TP2</h2>

<ul>
    <li>
        <strong>Exercício 01:</strong>
        <ul>
            <li>
                <a href="/Exercicios/Exercicio01/CityManager/CreateCity">Cadastrar Cidade</a>
            </li>
        </ul>
    </li>
    <li>
        <strong>Exercício 02:</strong>
        <ul>
            <li>
                <a href="/Exercicios/Exercicio02/CityManager/CreateCity">Cadastrar Cidade</a>
            </li>
        </ul>
    </li>
    <li>
        <strong>Exercício 03:</strong>
        <ul>
            <li>
                <a href="/Exercicios/Exercicio03/CityManager/CreateCity">Cadastrar Cidade</a>
            </li>
        </ul>
    </li>
    <li>
        <strong>Exercício 04:</strong>
        <ul>
            <li>
                <a href="/Exercicios/Exercicio04/CityManager/CreateCity">Cadastrar Cidade</a>
            </li>
        </ul>
    </li>
    <li>
        <strong>Exercício 05:</strong>
        <ul>
            <li>
                <a href="/Exercicios/Exercicio05/CityManager/CreateCountry">Cadastrar País</a>
            </li>
        </ul>
    </li>
    <li>
        <strong>Exercício 06:</strong>
        <ul>
            <li>
                <a href="/Exercicios/Exercicio06/CityManager/CreateCountry">Cadastrar País</a>
            </li>
        </ul>
    </li>
    <li>
        <strong>Exercício 07:</strong>
        <ul>
            <li>
                <a href="/Exercicios/Exercicio07/CityManager/CreateCountry">Cadastrar País</a>
            </li>
        </ul>
    </li>
    <li>
        <strong>Exercício 08:</strong>
        <ul>
            <li>
                <a href="Exercicios/Exercicio08/CityManager/CityDetails/Rio%20de%20Janeiro">Detalhes RJ</a>
            </li>
        </ul>
    </li>
    <li>
        <strong>Exercício 09:</strong>
        <ul>
            <li>
                <a href="Exercicios/Exercicio09/CityManager/CityDetails">Cidades</a>
            </li>
        </ul>
    </li>
    <li>
        <strong>Exercício 10:</strong>
        <ul>
            <li>
                <a href="Exercicios/Exercicio10/SaveNote">Escrever nota</a>
            </li>
        </ul>
    </li>
    <li>
        <strong>Exercício 11:</strong>
        <ul>
            <li>
                <a href="Exercicios/Exercicio11/ReadNotes">Ler Notas</a>
            </li>
        </ul>
    </li>
    <li>
        <strong>Exercício 12:</strong>
        <ul>
            <li>
                <a href="Exercicios/Exercicio12/CreateCountry">Criar</a>
            </li>
        </ul>
    </li>
</ul>

